<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?{{data.cache_id}}">

  <!-- Customizable CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?{{data.cache_id}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/play.css') }}?{{data.cache_id}}">

  <!-- Jquery JS -->
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <!-- Popper JS -->
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <!-- Customizable JS -->
  <script src="{{ url_for('static', filename='js/login.js') }}?{{data.cache_id}}"></script>

</head>
<body uuid="{{data.cache_id}}" code="{{data.token}}">
{% block content%}
{% endblock %}
</body>
</html>
