<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Statics Holberton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/login.js"></script>
</head>

<body>
    <div class="row">
        <div class="rounded-right col-xs-12 col-sm-6 col-md-6 mx-auto">
            <div class="red" id="left_image" >
                <img class="align-image" src="./assets/marca_holberton.png" alt="http://www.holbertonschool.co">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
            <div class="container">
                <section id="login" class="mb-5 mt-5">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form #formLogin="ngForm" (submit)="onLogin()">
                                <h1 class="h1 mb-3 font-weight-normal text-redholberton">Match</h1>
                                <div class="form-group">
                                    <label class="text-redholberton" for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control"
                                        placeholder="usuario@holbertonschool.com" required>
                                </div>
                                <div class="form-group">
                                    <label class="text-redholberton" for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="*****" required>
                                </div>
                                <div class="form-group">
                                    <label class="text-redholberton" for="apikey">API Key</label>
                                    <input type="text" id="apikey" name="apikey" class="form-control"
                                        placeholder="La encuentras en https://intranet.hbtn.io/dashboards/my_tools"
                                        required>
                                </div>
                                <button type="button" class="btn btn-lg btn-danger btn-block" id="send" value="Submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                </section>
            </div>
        </div>
    </div>
</body> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</html>
