<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<title>
    HolbiGrindr
</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/js/login.js"></script>

</head>

<body>
    



    
<input type="text" name="email" id="email"></p>
<input type="text" name="pass" id="pass"></p>
<input type="text" name="key" id="key"></p>
    <button type="button" value="Submit" id="enviar">
    Enviar
    </button>



</body>    
</html>