<div class="container2">
  <div class="match">
    <div class="title-match">
      Match
    </div>
  </div>
  <div class="couple">
    <div class="profile-match">
      <h6>{{data.name}} {{data.lastname}}</h6>
      <img src="{{data.image}}" class="img-fluid rounded-circle mb-2" alt="{{data.name}} {{data.lastname}}">
    </div>
    <div class="profile-match">
      <h6>{{otherdata.name}} {{otherdata.lastname}}</h6>
      <img src="{{otherdata.image}}" class="img-fluid rounded-circle mb-2" alt="{{otherdata.name}} {{otherdata.lastname}}">
    </div>
  </div>
</div>
